<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <table>
    <tr>
      <th>Position</th>
      <th>Name</th>
      <th>Spieltag Punkte</th>
      <th>Gesamt Punkte</th>
      <th>Geld</th>
    </tr>
    <tr *ngFor="let user of users | async">
      <td>{{ user.matchday1.position}}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.matchday1.points }}</td>
      <td>{{ user.points }}</td>
      <td>{{ user.money }}€</td>
    </tr>
  </table>
</div>